.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .info {
        text-align: left;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        h1 {
            margin: 0;
        }
    }

    div {
        margin: 20px;
    }

    .img {
        position: relative;
        width: 170px;
        height: 170px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .price {
        display: flex;
        justify-content: center;
        align-items: center;


        input[type='number']::-webkit-inner-spin-button, 
        input[type='number']::-webkit-outer-spin-button { 
            -webkit-appearance: none;
            margin: 0;
        }

        input {
            height: 25px;
            width: 25px;
            text-align: center;
            padding: 0;
        }

        button {
            height: 29px;
            width: 29px;
        }
        
    }

    .inner-container {
        margin-bottom: 42px;

        i {
            font-size: 20px;
            cursor: pointer;
        }
    }

    .vl {
        border-left: 2px solid gray;
        height: 150px;
      }

}


  @media screen and (max-width: 600px) {
      .container {
        .price {
            display: flex;
            flex-direction: column-reverse;
        }
    
        button:first-child {
            margin-top: 10px;
            margin-right: 0px;
        }
    
        button:last-child {
            margin-bottom: 10px;
            margin-left: 0px;
        }

        .inner-container {
            margin-right: 50px;
        }
    
        .img {
    
            position: relative;
            width: 170px;
            height: 170px;
            overflow: hidden;
            margin-left: 50px;
    
            img {
                width: 85%;
                height: 85%;
            }
        }

      }
    
  }